  <div class="eqLogic-widget eqLogic" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >
    <center><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong><br /><br />
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#online_id#"><b>Allumée ? :</b> #online# </span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#cpuNumber_id#"><b>Nb CPU :</b> #cpuNumber# </span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#corePerCpuNumber_id#"><b>Nb Coeur/CPU :</b> #corePerCpuNumber# </span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#ramTotal_id#"><b>Quantité de RAM :</b> #ramTotal# Go </span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#vmwareTools_id#"><b>Vmware Tools : </b>#vmwareTools# </span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#osType_id#"><b>OS :</b> #osType# </span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#nbSnap_id#"><b>Nombre de snapshots :</b> #nbSnap# </span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#snapShotList_id#"><b>Liste des snapshots :</b> <br /> #snapShotList#  </span></div>
	</center>	
</div>
