  <!--<div class="eqLogic-widget eqLogic" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >-->
  <div class="eqLogic-widget eqLogic" style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >
    <center>#name_display#<br /><br />
		<div><span><b>Nb VMs :</b> #nbVM#  <br />
			<b>Mise à jour disponible : </b> #toBeUpdated# <br />
			<b>Nb CPU :</b> #cpuNumber# <br />
			<b>Nb Coeur/CPU :</b> #corePerCpuNumber# <br />
			<b>Quantité de RAM :</b> #ramTotal# Go <br />
			<b>OS :</b> #osType# <br />
			<b>Liste des VMs :</b> <br /> #vmList#
		</div>		
	</center>	
</div>
