  <div class="eqLogic-widget eqLogic" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >
    <center>#name_display#<br /><br />
		<div><span><b>Liste des VMs :</b> <br /> #vmList# <br /><br /></span></div>
		<div><span><b>Nb VMs :</b> #nbVM#  </span></div>
		<div><span><b>Mise à jour disponible : </b> #toBeUpdated# </span></div>
		<div><span><b>Nb CPU :</b> #cpuNumber# </span></div>
		<div><span><b>Nb Coeur/CPU :</b> #corePerCpuNumber# </span></div>
		<div><span><b>Quantité de RAM :</b> #ramTotal# Go </span></div>
		<div><span><b>OS :</b> #osType# </span></div>
		
		<!--<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#vmList_id#"><b>Liste des VMs :</b> <br /> #vmList# <br /><br /></span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#nbVM_id#"><b>Nb VMs :</b> #nbVM#  </span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#toBeUpdated_id#"><b>Mise à jour disponible : </b> #toBeUpdated# </span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#cpuNumber_id#"><b>Nb CPU :</b> #cpuNumber# </span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#corePerCpuNumber_id#"><b>Nb Coeur/CPU :</b> #corePerCpuNumber# </span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#ramTotal_id#"><b>Quantité de RAM :</b> #ramTotal# Go </span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#osType_id#"><b>OS :</b> #osType# </span></div>-->
		
		
	</center>	
</div>
